<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lead{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            background-color: lavender;
            margin-top: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
<a href="/leads">
    Go back to leads
</a>
<hr/>

<h1>
    {{ lead.first_name }}
</h1>
<h1>This is the detailed view</h1>
<p>This persons age is {{ lead.age }}</p>


</body>
</html>