<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lead{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            background-color: lavender;
            margin-top: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>This all of our leads</h1>
<p>This is a example of a template being rendered</p>
<ul>



    {% for lead in leads %}
        <div class="lead">
            <li>
            {{ lead.first_name }} {{ lead.last_name }} Age:{{ lead.age }}
            </li>

        </div>

    {% endfor %}
</ul>

</body>
</html>